<!DOCTYPE html>

<html>
    <head>
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>
    <body>
        <p>test</p>
        <div id="content" class="content">
            <label for="canvasObj">
                <canvas id="canvasObj", class="canvasObj" width="720" height="480"></canvas>
            </label>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='canvas.js')}}"></script>
    </body>
</html>